.text-titulo{
	text-align: center;
	font-size: $textXl;
	margin-top: 40px;
	margin-bottom: 40px;
}


.text-back{
	text-decoration:none;
	text-align: center;
	font-size: $textLg; 
	background-color: $fondColor;
	color: $white;
	
}
